:root {
	// Цвета
	--color-white: #fff;
	--color-black: #222222;
	--color-black-100: #000;
	--color-black-200: #20232c;
	--color-black-200-hover: #404450;
	--color-black-300: #3b3b3b;
	--color-yellow: #ffe767;
	--color-gray: #989898;
	--color-red: #f03a3a;
	--color-red-100: #87060d;

	// Размер шрифта

	// Начертание

	// transition
	--transition-normal: all 0.3s ease 0s;

	// Радиус

	// box-shadow
}

//<МИКСИНЫ>==============================================================================================
//Адаптивное свойство
@mixin adaptiv-value($indentType, $pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		#{$indentType}: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidthContainer - 360}));
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		#{$indentType}: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
		}
	} @else {
		//Всегда
		#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 360px) / #{$maxWidth - 360}));
	}
}

@function rem($size) {
	@return ($size / 16) + rem;
}

@function line-height($line, $size) {
	@return ($line / $size);
}

@function adaptive-block($height, $width) {
	@return ($height / $width) * 100%;
}

//</МИКСИНЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$gutters: 20px;
$minWidth: 360px;
$maxWidth: 1440px;
$maxWidthContainer: 1540px;
$max: 1439.98px;
$md1: 1199.98px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 639.98px;
$md5: 479.98px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

