@charset "UTF-8";

:root {
  --color-white: #fff;
  --color-black: #222222;
  --color-black-100: #000;
  --color-black-200: #20232c;
  --color-black-200-hover: #404450;
  --color-black-300: #3b3b3b;
  --color-yellow: #ffe767;
  --color-gray: #989898;
  --color-red: #f03a3a;
  --color-red-100: #87060d;
  --transition-normal: all 0.3s ease 0s;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 360px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*Обнуление*/

@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.25;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}

body.lock {
  overflow: hidden;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  margin: 0 auto;
  max-width: 1540px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #bbbbbb;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 3000px;
  background: var(--color-gray);
}

.btn {
  cursor: pointer;
  background: var(--color-black-200);
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 20px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.005em;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn.btn-black {
  background: var(--color-black);
  color: var(--color-white);
}

.btn.btn-black:hover {
  background: var(--color-black-200-hover);
}

.form-group:not(:last-child) {
  margin-bottom: 30px;
}

.form-label {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  background: transparent;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-black);
  font-size: 16px;
  line-height: 120%;
  color: var(--color-black);
}

.form-control.error {
  color: #bb3434;
  border-color: #bb3434;
}

.form-control.success {
  color: #02a81c;
  border-color: #02a81c;
}

.w-100 {
  width: 100%;
}

.cookie-block {
  background: var(--color-white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 10px 0;
}

.cookie-block.active {
  display: none;
}

.cookie-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.cookie-block__text {
  font-size: 16px;
  line-height: 130%;
  color: var(--color-black);
}

.cookie-block__btn {
  padding: 5px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  background: var(--color-black-200);
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.cookie-block__btn:hover {
  background: var(--color-black-200-hover);
}

.header__wrap {
  position: fixed;
  top: 37px;
  left: 0;
  width: 100%;
  z-index: 7;
  background: var(--color-white);
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.header__wrap.fixed {
  top: 0;
  z-index: 8;
}

.header-top {
  background: var(--color-black-300);
  padding: 11.5px 0;
  position: relative;
  z-index: 8;
}

.header-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.header-top__left {
  padding: 0 15px;
}

.header-top__right {
  padding: 0 15px;
}

.header-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 14px;
  line-height: 0.92857;
  letter-spacing: -0.005em;
  color: var(--color-white);
  cursor: pointer;
}

.header-location:hover span:after {
  border-color: transparent;
}

.header-location span {
  position: relative;
}

.header-location span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed var(--color-white);
  left: 0;
  bottom: -3px;
  z-index: 1;
}

.header-location svg {
  fill: var(--color-red);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 14px;
  max-width: 100%;
  height: 14px;
}

.header-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.header-top-menu li {
  font-size: 14px;
  line-height: 0.92857;
  color: var(--color-white);
}

.header-top-menu li a {
  color: inherit;
}

.header-top-menu li a:hover {
  text-decoration: underline;
}

.header-bottom {
  position: relative;
}

.header-bottom:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background: var(--color-black-300);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  pointer-events: none;
}

.header-bottom:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background: var(--color-black-300);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  pointer-events: none;
}

.header-bottom__content {
  position: relative;
}

.header-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.header-bottom__left {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 200px;
  max-width: 100%;
}

.header-bottom__right {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.header-bottom__search {
  display: none;
}

.header-bottom__menu {
  padding-right: 170px;
}

.catalog-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
  background: var(--color-black-200);
  border-radius: 10px;
  padding: 8px 30px;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.catalog-btn.active .catalog-btn__body span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.catalog-btn.active .catalog-btn__body span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
}

.catalog-btn.active .catalog-btn__body span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 5px;
}

.catalog-btn__body {
  width: 18px;
  height: 12px;
  position: relative;
}

.catalog-btn__body span {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  left: 0;
  background: var(--color-white);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.catalog-btn__body span:first-child {
  top: 0;
}

.catalog-btn__body span:last-child {
  top: auto;
  bottom: 0;
}

.catalog-btn__text {
  line-height: 1;
  color: var(--color-white);
  font-weight: 500;
}

.menu-categories__close {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #292d32;
  color: #292d32;
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 3;
  background: var(--color-white);
}

.menu-categories__close svg {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.menu-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.menu-categories__link {
  display: inline-block;
  font-size: 16px;
  color: var(--color-black);
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  padding: 18px 0;
  position: relative;
}

.menu-categories__link:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-black);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  pointer-events: none;
  z-index: 6;
}

.menu-categories__link.active {
  color: var(--color-red-100);
}

.menu-categories__link svg {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 10px;
  max-width: 100%;
  height: 10px;
  fill: currentColor;
  margin-left: auto;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: 6px;
}

.menu-categories__box {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 2px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-categories__wrap {
  background: var(--color-white);
  margin-left: calc(((100vw - 1540px) / 2 + 50px) * -1);
  margin-right: calc(((100vw - 1540px) / 2 + 50px) * -1);
  padding-left: calc((100vw - 1540px) / 2 + 50px);
  padding-right: calc((100vw - 1540px) / 2 + 50px);
  -webkit-box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01), 0px 26px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01), 0px 26px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.menu-categories__boxes {
  padding: 40px 120px;
}

.menu-categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.menu-categories__col {
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.333%;
  max-width: 100%;
}

.menu-categories__col:last-child {
  margin-left: auto;
}

.menu-categories__img {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  padding-bottom: 62.89474%;
}

.menu-categories__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-categories__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-categories__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  text-transform: uppercase;
  color: var(--color-black);
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.menu-categories__btn svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  max-width: 100%;
  height: 20px;
  fill: currentColor;
}

.menu-categories__mob {
  display: none;
}

.header-center {
  padding: 20px 0;
}

.header-center__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.header-center__left {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.header-center__menu-btn {
  display: none;
  padding: 0 10px;
}

.header-center__center {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center__right {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-center__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.header-center__action {
  padding: 0 10px;
}

.header-center__phone {
  font-size: 16px;
  line-height: 1.25;
}

.header-center__phone a {
  color: inherit;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.header-center__phone a:hover {
  text-decoration: underline;
}

.header-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 5px;
  position: relative;
  width: 209px;
  cursor: text;
}

.header-search-btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-black);
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.header-search-btn__text {
  font-size: 14px;
  line-height: 1;
}

.header-search-btn__icon {
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search-btn__icon svg {
  width: 9px;
  height: 9px;
  fill: currentColor;
  position: relative;
  top: 1px;
}

.logo {
  display: inline-block;
  line-height: 1;
}

.logo img {
  max-width: 100%;
}

.header-action {
  position: relative;
}

.header-action__top {
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.header-action__top span {
  width: 14px;
  height: 14px;
  background: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -4px;
  bottom: -3px;
  pointer-events: none;
  z-index: 2;
  font-weight: 700;
  font-size: 9px;
  line-height: 1;
  color: var(--color-white);
  border-radius: 50%;
}

.header-action__top svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header-action__body {
  padding-top: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 7;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.header-action__box {
  background: var(--color-white);
  -webkit-box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01), 0px 26px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01), 0px 26px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px;
}

.header-action__title {
  text-align: center;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-black);
  margin-bottom: 6px;
}

.header-action__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-black);
}

.header-action__block a {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.header-action__block a:hover {
  text-decoration: none;
}

.search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 5px;
  position: relative;
}

.search-header:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-black);
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.search-header input {
  font-size: 14px;
  line-height: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  background: transparent;
  color: var(--color-black);
}

.search-header button {
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  background: transparent;
}

.search-header button svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
  position: relative;
  top: 1px;
}

.search-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background: rgba(30, 30, 30, 0.9);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.search-block.fixed {
  z-index: 9;
}

.search-block.fixed .search-block__content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.search-block.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.search-block.open .search-block__body {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.search-block__body {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.search-block__content {
  background: var(--color-white);
  -webkit-transform: translateY(37px);
      -ms-transform: translateY(37px);
          transform: translateY(37px);
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  padding: 47px 0 30px;
}

.search-block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 28px;
  position: relative;
}

.search-block__box:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-black-200);
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.search-block__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30px;
  max-width: 100%;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #292d32;
  color: #292d32;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-block__close:hover {
  color: var(--color-black-200);
  border-color: var(--color-black-200);
}

.search-block__close svg {
  width: 10px;
  height: 10px;
  fill: currentColor;
}

.search-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.search-block__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-black-200);
}

.search-block__icon svg {
  width: 19px;
  height: 19px;
  fill: currentColor;
}

.search-block__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.search-block__input input {
  font-size: 18px;
  width: 100%;
  background: transparent;
  color: var(--color-black-200);
}

.catalog-menu__top {
  padding: 12px 0;
}

.catalog-menu__box {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 2px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: none;
}

.catalog-menu__wrap {
  background: var(--color-white);
  margin-left: calc(((100vw - 1540px) / 2 + 50px) * -1);
  margin-right: calc(((100vw - 1540px) / 2 + 50px) * -1);
  padding-left: calc((100vw - 1540px) / 2 + 50px);
  padding-right: calc((100vw - 1540px) / 2 + 50px);
  -webkit-box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01), 0px 26px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01), 0px 26px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.catalog-menu__boxes {
  padding: 40px 120px;
}

.menu-mob-spoiler__item {
  padding: 5px 0;
}

.menu-mob-spoiler__item.active .menu-mob-spoiler__arrow svg {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.menu-mob-spoiler__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
}

.menu-mob-spoiler__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
}

.menu-mob-spoiler__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-mob-spoiler__arrow svg {
  width: 10px;
  height: 10px;
  fill: currentColor;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: 6px;
}

.menu-mob-spoiler__body {
  padding: 18px 0 10px 28px;
  display: none;
}

.menu-mob-spoiler__body.active {
  display: block;
}

.menu-mob-spoiler__body ul li:not(:last-child) {
  margin-bottom: 10px;
}

.menu-mob-spoiler__body ul li a {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-black);
}

.main-popup {
  display: none;
  width: 100%;
  max-width: 900px;
  background: var(--color-white);
  border-radius: 10px;
  padding: 40px 30px;
}

.main-popup.thanks {
  max-width: 700px;
}

.main-popup.fancybox-content {
  cursor: default;
}

.main-popup .fancybox-button {
  display: none;
}

.main-popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292d32;
  border: 1px solid #292d32;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  background: var(--color-white);
}

.main-popup__close:hover {
  color: var(--color-black-100);
  border-color: var(--color-black-100);
}

.main-popup__close svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.thanks-block {
  padding: 120px 0;
}

.thanks-block__title {
  font-size: 32px;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.thanks-block__text {
  text-align: center;
  font-size: 18px;
}

.selection-city-form__title {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 30px;
  padding-right: 40px;
}

.selection-city-form__line {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 4px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.selection-city-form__line:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-black);
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.selection-city-form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.selection-city-form__input input {
  background: transparent;
  width: 100%;
  font-size: 16px;
  color: var(--color-black);
}

.selection-city-form__button {
  background: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  color: var(--color-black);
  cursor: pointer;
}

.selection-city-form__button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.selection-city-form__row {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.selection-city-form__col {
  padding-top: 20px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid-column;
}

.selection-city-form__item {
  cursor: pointer;
  display: inline-block;
}

.selection-city-form__item input {
  display: none;
}

.selection-city-form__item input:checked + span:after {
  opacity: 1;
}

.selection-city-form__item span {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-black);
  display: block;
  padding-left: 39px;
  position: relative;
}

.selection-city-form__item span:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 1;
}

.selection-city-form__item span:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-black);
  position: absolute;
  top: 4px;
  left: 5px;
  z-index: 2;
  opacity: 0;
}

.form-popup {
  max-width: 580px;
  margin: 0 auto;
}

.form-popup__title {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 30px;
  padding: 0 40px;
  text-align: center;
}

.form-popup__text {
  text-align: center;
  font-size: 16px;
  line-height: 140%;
}

.form-popup__text:not(:last-child) {
  margin-bottom: 30px;
}

.form-popup__text a {
  color: inherit;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  text-decoration: underline;
}

.form-popup__text a:hover {
  text-decoration: none;
}

.form-popup__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
}

.form-popup__inputs:not(:last-child) {
  margin-bottom: 56px;
}

.form-popup__input {
  padding: 0 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
}

.form-popup__input input {
  background: transparent;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: var(--color-black);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-black);
}

.form-popup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-popup__btn:not(:last-child) {
  margin-bottom: 30px;
}

.form-popup__label {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.005em;
  color: #828282;
  text-align: center;
}

.form-popup__bottom {
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-black);
}

.form-popup__bottom a {
  color: inherit;
  -webkit-transition: var(--transition-normal);
  -o-transition: var(--transition-normal);
  transition: var(--transition-normal);
  text-decoration: underline;
}

.form-popup__bottom a:hover {
  text-decoration: none;
}

@media (min-width: 991.98px) {
  .catalog-btn:hover {
    background: var(--color-black-200-hover);
  }

  .menu-categories__item:hover .menu-categories__link:before {
    width: 100%;
  }

  .menu-categories__item:hover .menu-categories__box {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: 100%;
  }

  .header-action:hover .header-action__body {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .catalog-menu:hover .catalog-menu__box {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: 100%;
  }
}

@media (max-width: 1539.98px) {
  .menu-categories__wrap {
    margin: 0 -50px;
    padding: 0 50px;
  }

  .catalog-menu__wrap {
    margin: 0 -50px;
    padding: 0 50px;
  }
}

@media (max-width: 1439.98px) {
  .header-bottom__menu {
    padding-right: 0;
  }

  .menu-categories__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .menu-categories__boxes {
    padding: 40px;
  }

  .catalog-menu__boxes {
    padding: 40px;
  }
}

@media (max-width: 1199.98px) {
  .menu-categories__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu-categories__boxes {
    padding: 40px 0;
  }

  .menu-categories__col:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .catalog-menu__boxes {
    padding: 40px 0;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }

  .header-bottom {
    padding: 10px 0;
  }

  .header-bottom__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  .header-bottom__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .menu-categories {
    display: none;
  }

  .menu-categories__box {
    display: none;
  }

  .header-center__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -10px;
  }

  .header-search-btn {
    width: 350px;
  }
}

@media (max-width: 767.98px) {
  .fancybox-slide {
    padding: 30px 15px;
  }

  .cookie-block__row {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .header-top__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-search-btn {
    width: 340px;
  }

  .search-block__content {
    padding: 25px 0;
  }

  .thanks-block {
    padding: 80px 0;
  }

  .selection-city-form__row {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 575.98px) {
  .fancybox-slide {
    padding: 0;
  }

  .cookie-block {
    padding: 20px 0;
  }

  .cookie-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .cookie-block__text {
    text-align: center;
    font-size: 14px;
  }

  .cookie-block__btn {
    padding: 10px 20px;
  }

  .header__wrap {
    top: 18px;
  }

  .header-top {
    padding: 4px 0;
  }

  .header-top__row {
    margin: 0 -5px;
  }

  .header-top__left {
    padding: 0 5px;
  }

  .header-top__right {
    padding: 0 5px;
  }

  .header-location {
    font-size: 10px;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }

  .header-location span:after {
    display: none;
  }

  .header-location svg {
    width: 10px;
    height: 10px;
  }

  .header-top-menu {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .header-top-menu li {
    font-size: 10px;
  }

  .header-bottom:before {
    display: none;
  }

  .header-bottom:after {
    display: none;
  }

  .header-bottom__left {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .header-bottom__btn {
    display: none;
  }

  .header-bottom__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .header-bottom__search {
    display: block;
  }

  .catalog-btn {
    border: 0.5px solid #bbbbbb;
    border-radius: 2px;
    padding: 6px;
    background: transparent;
  }

  .catalog-btn.active .catalog-btn__body span:first-child {
    top: 3px;
  }

  .catalog-btn.active .catalog-btn__body span:last-child {
    bottom: 3px;
  }

  .catalog-btn__body {
    width: 10px;
    height: 7px;
  }

  .catalog-btn__body span {
    height: 1px;
    top: 3px;
    background: var(--color-black);
    border-radius: 2px;
  }

  .catalog-btn__text {
    display: none;
  }

  .menu-categories {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: var(--color-white);
    padding: 50px 18px 40px;
    -webkit-transition: var(--transition-normal);
    -o-transition: var(--transition-normal);
    transition: var(--transition-normal);
  }

  .menu-categories.open {
    right: 0;
  }

  .menu-categories:before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .menu-categories__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-categories__body {
    height: 100%;
    overflow: auto;
    margin: 0 -18px;
    padding: 0 18px;
  }

  .menu-categories__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu-categories__item {
    width: 100%;
  }

  .menu-categories__link {
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding: 20px 0;
  }

  .menu-categories__link:before {
    width: 100%;
  }

  .menu-categories__link svg {
    display: block;
  }

  .menu-categories__mob {
    display: block;
  }

  .header-center {
    padding: 16px 0;
  }

  .header-center__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 26%;
    max-width: 100%;
  }

  .header-center__menu-btn {
    display: block;
  }

  .header-center__search {
    display: none;
  }

  .header-center__center {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  .header-center__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 26%;
    max-width: 100%;
  }

  .header-center__action-phone {
    display: none;
  }

  .header-center__phone {
    margin: 20px 0;
  }

  .search-block {
    display: none;
  }

  .search-block__content {
    -webkit-transform: translateY(18px);
        -ms-transform: translateY(18px);
            transform: translateY(18px);
  }

  .main-popup {
    border-radius: 0px;
    padding: 20px 18px;
  }

  .main-popup__close {
    top: 17px;
    right: 18px;
  }

  .thanks-block {
    padding: 40px 0 0;
  }

  .thanks-block__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .thanks-block__text {
    font-size: 14px;
  }

  .selection-city-form__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .selection-city-form__input input {
    font-size: 14px;
  }

  .selection-city-form__button svg {
    width: 14px;
    height: 14px;
  }

  .selection-city-form__col {
    padding-top: 10px;
  }

  .form-popup__title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 0 40px 0 0;
  }

  .form-popup__inputs {
    margin: 0 -10px;
  }

  .form-popup__inputs:not(:last-child) {
    margin-bottom: 40px;
  }

  .form-popup__input {
    padding: 0 10px;
  }

  .form-popup__input input {
    font-size: 50px;
  }

  .form-popup__btn .btn {
    width: 100%;
  }

  .form-popup__bottom {
    font-size: 14px;
    text-align: left;
  }
}

@media (max-width: 479.98px) {
  .selection-city-form__line {
    margin-bottom: 30px;
  }

  .selection-city-form__row {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  .selection-city-form__item span {
    padding-left: 0;
  }

  .selection-city-form__item span:before {
    display: none;
  }

  .selection-city-form__item span:after {
    display: none;
  }
}